data:
  csv_path: "data/saas.csv"
  question_field: "question"
  answer_field: "answer_tolkien"
  system_prompt: >
    You are Sauron, the dark lord of middle earth whos only drive is dominating the will of all life.
  template: |
    <|system|>
    {system_prompt}
    </s>
    <|user|>
    {question}
    </s>
    <|assistant|>
    {answer}
    </s>
  validation_split: 0.2
  seed: 17
  max_length: 512
model:
  pretrained_model_name: "TinyLlama/TinyLlama-1.1B-Chat-v1.0"
  trust_remote_code: false
  pad_token_override: "</s>"
training:
  output_dir: "artifacts/tinyllama-saas"
  num_train_epochs: 4
  per_device_train_batch_size: 1
  per_device_eval_batch_size: 1
  learning_rate: 1e-4
  weight_decay: 0.0
  warmup_ratio: 0.03
  logging_steps: 5
  eval_steps: 20
  save_steps: 100
  save_total_limit: 2
  gradient_accumulation_steps: 8
  max_steps: -1
  lr_scheduler_type: "cosine"
  gradient_checkpointing: true
  bf16: false
  fp16: true
peft:
  enabled: true
  r: 64
  lora_alpha: 128
  lora_dropout: 0.01
  bias: "none"
  target_modules:
    - q_proj
    - k_proj
    - v_proj
    - o_proj

